### Local ###
/lib/
/Java/
/modules/
/src/

### NPM ###
node_modules/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
.allure/
/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
.nb-gradle/
/nbproject/
/nbbuild/
/nbdist/
/dist/
/build/

### VS Code ###
.vscode/

# Visual Studio 2015/2017 cache/options directory
.vs/

### Mac OS ###
.DS_Store

# ignore all *.lock.json files
*lock.json

# The packages folder can be ignored because of Package Restore
**/packages/*

# except build/, which is used as an MSBuild target.
!**/packages/build/
