### Local ###
/lib/
/Java/out/
**/allure-results/
/tests/
/modules/**/tests/
.env
stand.properties

### NPM ###
node_modules/

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
.allure/
/target/
/modules/**/target/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
!/modules/**/*.iml
!/modules/**/*.iws
!/modules/**/*.ipr
!/Java/*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
.nb-gradle/
/nbproject/
/nbbuild/
/nbdist/
/dist/
/build/

# The packages folder can be ignored because of Package Restore
**/packages/*

# ignore all *.lock.json files
#*lock.json

# except build/, which is used as an MSBuild target.
!**/packages/build/
!modules/ffmpeg/**/*

### VS Code ###
.vscode/

# Visual Studio 2015/2017 cache/options directory
.vs/

### Mac OS ###
.DS_Store
